body {
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  font-family: Roboto;
  justify-content: space-between;
}

.header {
  background-color: #1f2937;
  padding-bottom: 100px;
}

.first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 18px;
  margin-bottom: 48px;
}

.second {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 18px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header-image {
  height: auto;
  width: 400px;
  text-align: center;
  background-color: grey;
  border: solid white;
  border-radius: 15px;
}

.desc-title {
  font-size: 48px;
  color: #f9faf8;
}

.desc-subtext {
  font-size: 18px;
  color: grey;
}

.signup-button {
  background-color: #3882f6;
  color: white;
  width: 80px;
  align-self: center;
  border-radius: 25px;
  margin: 0px;
  border: none;
  padding: 8px 14px;
}

.header .first .logo {
  color: #f9faf8;
  font-size: 24px;
  font-family: extra-bold;
}

.links {
  color: grey;
  font-size: 18px;
  display: flex;
  gap: 12px;
}

ul {
  list-style-type: none;
}

.images-info {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-bottom: 30px;
}

.images-info-title {
  padding-bottom: 32px;
  font-size: 36px;
  color: #1f2937;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 60px;
  width: 100%;
}

.info {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-2 {
  height: 200px;
  width: 200px;
  border: solid lightblue;
  border-radius: 25px;
  display: block;
}

.quote {
  padding: 60px 200px;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.quote-author {
  font-size: 20px;
  font-style: italic;
  color: #1f2937;
  align-self: flex-end;
  padding-right: 60px;
}

.call {
  margin: 70px 100px;
  background-color: #3882f6;
  display: flex;
  border-radius: 25px;
  padding: 30px 15px;
  justify-content: space-around;
}

.call-button {
  border-radius: 15px;
  background-color: #3882f6;
  border: solid white;
  color: white;
  padding: 0px 12px;
}

.call-desc-title {
  color: white;
  font-size: 24px;
  margin-bottom: 5px;
}

.call-desc-desc {
  color: white;
  font-size: 14px;
}

.footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  padding: 30px 0px;
}

.footer-text {
  align-self: center;
  color: #e5e7eb;
  font-size: 18px;
}
